/**
 *
 * Basic fix on general HTML elements
 * 基本リセット
 *
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Form */

input,
button,
select,
textarea {
    appearance: none;
}

textarea {
    overflow: auto;
}

input[type=checkbox] {
    appearance: checkbox;
}

input[type=radio] {
    appearance: radio;
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
    margin-right: 10px;
    width: auto;
    height: auto;
    box-shadow: none!important;
}


/* Media */

figure {
    margin: 2rem 0;
}

img {
    vertical-align: top;
}


/* applies to GIF and PNG images; avoids blurry edges */

img[src$='.gif'],
img[src$='.png'] {
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */
}


/* Tabular */

table {
    /* border-collapse: collapse; */
}


/* Grouping */

blockquote {
    font-size: inherit;
    font-style: inherit;
}
