/**
 *
 * Grobal Settings
 *
 */

html {
    font-size: calc(var(--unit-size) * .8);
    @media (--sm) {
        font-size: calc(var(--unit-size) * .9);
    }
    @media (--md) {
        font-size: calc(var(--unit-size));
    }
}

* {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
