/**
 *
 * Helpers(Help class) Settings
 *
 */


/* Additional helper for base.css */


/* flexbox */

.inline-flex {
    display: inline-flex;
}

.flex-1 {
    /* flex: 1 1 0% */
    flex: 1;
}

.row-reverse {
    flex-direction: row-reverse;
}

.col-reverse {
    flex-direction: column-reverse;
}


/* Colors */

.forecolor {
    color: var(--forecolor);
}

.backcolor {
    color: var(--backcolor);
}


/* Background Colors */

.bg-forecolor {
    background-color: var(--forecolor);
}

.bg-backcolor {
    background-color: var(--backcolor);
}


/* Border Colors */

.border-forecolor {
    border-color: var(--forecolor);
}

.border-backcolor {
    border-color: var(--backcolor);
}
