/**
 *
 * Variables
 *
 */


/*----------  Layout  ----------*/

:root {
    --container-width: 72em;
}


/*----------  Media Queries  ----------*/


/* http://cssnext.io/features/#custom-media-queries */

@custom-media --sm (width >=40em);
@custom-media --md (width >=52em);
@custom-media --lg (width >=64em);

/*----------  Fonts  ----------*/

:root {
    --font-sans: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, Arial, 'メイリオ', Meiryo, sans-serif;
}


/*----------  Base Unit Size  ----------*/

:root {
    --unit-size: 16px;
}


/*----------  Colors  ----------*/

:root {
    --forecolor: #000;
    --backcolor: #fff;
}


/*----------  Headings  ----------*/

:root {
    --h1: 2rem;
    --h2: 1.5rem;
    --h3: 1.25rem;
    --h4: 1rem;
    --h5: .875rem;
    --h6: .75rem;
}


/*----------  Easing  ----------*/

:root {
    --easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
