/**
 *
 * Sections
 * body, section, nav, article ,aside, h{1-6}, header, footer, address
 *
 */

body {
    font-family: var(--font-sans);
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: .02rem;
    font-smoothing: antialiased;
    color: var(--forecolor);
    background-color: var(--backcolor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1.2;
}
