/**
 *
 * Text-Level Semantics
 *
 */

a {
    color: inherit;
    backface-visibility: hidden;
    transition: opacity .3s ease;
    &:hover {
        opacity: .75;
    }
}

a:hover,
a:focus {
    color: inherit;
}

address {
    font-style: normal;
}
